
.layout-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    row-gap: 10rem;
    margin: 10rem 7rem 0 3rem;
    column-gap: 5rem;
    background-color: hsla(260, 28%, 98%,1);
   /* border: 5rem solid #ecf9f3; slider balls disturbed*/
}

.photo-container {
    display: grid;
    grid-template-columns: 47rem;
    grid-template-rows: 31rem;
    position: relative;
    justify-self: center;
    align-items: baseline;
    z-index:100;
}

.photo-container1 {
    position:  absolute;
    z-index: -1;
}
.photo-container2 {
    width: 100px;
    overflow: hidden;
    box-shadow: 0 1.8rem 2.2rem 0 rgba(0,0,0,0.5);
}

.photo1 {
    width:47rem;
    border-radius: 10px;
}
.photo2 {
    background-size: cover;
    width: 47rem;
    border-radius: 10px;
}

.moving-circle {
    height: 20px;
    width: 20px;
    background-color: #7fb69c;
    border-radius: 50%;
    position:absolute;
    left: 100px;
    transform: translate(-50%,-50%);
    z-index: 9999;
    
}
.div-photos-slider1,.div-photos-slider2{
    padding: 10px;
    border: 5px solid #a5ccba;
    border-radius: 10px;
    transition: 0.5s;
} 

.moving-circle:hover{
    background-color: #a5ccba;
}
.div-photos-slider1:hover,
.div-photos-slider2:hover {
    border: 5px solid #72a48c;
}


.rubik-container {
    display: flex;
    align-items: center;
    z-index: 100;

}
.rubik-container1 {
    position:absolute;
    z-index: -1;
    width: 15rem;
}
.rubik-container2 {
    width: 15rem;
    grid-column: 1;
    justify-self: end;
}

.rubik-photo {
    width: 100%;
    border-radius: 10px;
    transition: .7s;
}

.svg-container:hover{
    cursor: grabbing;
}

.coloring-container{
    width: 42rem;
    height: 53rem;
    justify-self: center;
    grid-column: span 2
}

.grid-row-wrapper{
    display: contents;
}

.layout-container > .grid-row-wrapper {
    background-color: #72a48c;
}   

.canvas-color{
   /*cursor: url("../../img/paint-roll.svg"), auto;*/
   cursor: url("../../img/brush.svg"), auto;
   width: 42rem;
   height: 53rem;
}

.letterContainer {
    display: flex;
    height: 30rem;
    align-items: center;
    background: #353230;
    width: 55rem;
    justify-content: space-evenly;
    padding-right: 2rem;
    padding-left:2rem;
}
g {
   transition:1s;
}

.text-lettre {
    letter-spacing: 15px;
    font-size: 1.2rem;
    transform: rotate(25deg) translateY(2px);
}
.letter-container1 {
    transform:translate(200px,100px);
    --xCoord : 200px;
}
.letter-container2 {
    transform:translate(80px,100px);
    --xCoord : 80px;
}
.letter-container3 {
    transform:translate(150px,100px);
    --xCoord : 150px;
}
.letter-container4 {
    transform:translate(50px,100px);
    --xCoord : 50px;
}
.letter-container5 {
    transform:translate(-120px,100px);
    --xCoord : -120px;
}
.letter-container6 {
    transform:translate(-160px,100px);
    --xCoord : -160px;
}
.letters-play{
    align-self: flex-start;
    font-size: 4.2rem;
    color: #666;
    cursor:pointer;
    transform: translateY(-45px);
    width: 2.5rem;
}


.play-letters-anim {
    animation: 1.5s ease-in forwards;
    animation-name: letterMoving;
}
@keyframes letterMoving {
    0% {
        transform: translate(var(--xCoord),100px);
    }
    50% {
        transform: translate(var(--xCoord),-100px); 
    }
    80% {
        transform: translate(var(--xCoord),0px);
    }
    100% {
        transform:translate(0);
    }
}

.play-letters-anim2 {
    animation: 3.5s forwards;
    animation-name: innerDotsMoving 
}
@keyframes innerDotsMoving {
    0% {
        letter-spacing: 15px;
        font-size: 1.2rem;
        transform: rotate(25deg) translateY(2px);
    }
    60% {
        letter-spacing: 10px;
    }
    80% {
        font-size: 0.8rem;
    }
   
    100% {
        letter-spacing: 1px;
        font-size: 1px;
        transform: rotate(0) translate(0); 
    }
}









